.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__content {
  background: var(--card-background);
  padding: 20px;
  border-radius: var(--border-radius-lg);
  position: relative;
  max-width: 600px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
}

.modal__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 5px;
  color: var(--text-secondary);
}
