.loading,
.error {
  text-align: center;
  grid-column: 1 / -1;
  padding: 40px 0;
  color: var(--text-secondary);
  font-size: 16px;
}

.details {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 24px;
  align-items: start;
}

.details__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--text-primary);
}

.details__title {
  margin: 0;
  margin-right: 35px;
  font-size: 24px;
  font-weight: 700;
}

.details__year {
  font-size: 16px;
  color: var(--text-secondary);
}

.details__genres {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  background-color: var(--placeholder-color);
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

.details__description {
  line-height: 1.6;
  font-size: 16px;
  margin: 8px 0;
  color: var(--text-secondary);
  white-space: pre-wrap;
}

.details__rating {
  margin-top: auto;
  padding-top: 16px;
}

@media (max-width: 650px) {
  .details {
    grid-template-columns: 1fr;
  }

  .details__info {
    align-items: center;
    text-align: center;
  }

  .details__title {
    font-size: 22px;
    margin: 0;
  }

  .details__genres {
    justify-content: center;
  }
}
