.movie-card {
  display: flex;
  flex-direction: column;
  /* width: 200px; */
  background-color: var(--card-background);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  box-shadow: var(--shadow-complex-small);
  transition: var(--transition);
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-complex-regular);
}

.movie-card__image-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.movie-card__image {
  width: 100%;
  aspect-ratio: 2 / 3;
  background-color: var(--placeholder-color);
  object-fit: cover;
  display: block;
  transition: var(--transition);
}

.movie-card:hover .movie-card__image {
  transform: scale(1.05);
}

.movie-card__info {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.movie-card__title {
  margin: 0 0 8px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--text-primary);
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card__year {
  font-size: 14px;
  color: var(--text-secondary);
  margin-top: auto;
}
