@font-face {
  font-family: "Montserrat";
  src: url('/montserrat-variable.woff2') format('woff2') tech('variations'),
    url('/montserrat-variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --primary-color: #2563eb;
  --secondary-color: #7c3aed;

  --placeholder-color: #e0e0e0;
  --background-color: #f8fafc;
  --card-background: #ffffff;

  --border-color: #e5e8ed;
  --card-hover-border: var(--text-primary);

  --text-primary: #1e293b;
  --text-secondary: #64748b;

  --border-radius-lg: 8px;

  --shadow-complex-small: 
    0 80px 80px -20px rgb(154 156 165 / 8%), 
    0 30px 24px -10px rgb(154 156 165 / 5%),
    0 12px 10px -6px rgb(154 156 165 / 4%), 
    0 4px 4px -4px rgb(30 33 44 / 3%);
  --shadow-complex-regular: 
    0 80px 80px -20px rgb(154 156 165 / 16%), 
    0 30px 24px -10px rgb(154 156 165 / 10%),
    0 12px 10px -6px rgb(154 156 165 / 8%), 
    0 4px 4px -4px rgb(30 33 44 / 5%);

  --transition: all 0.3s ease;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #3b82f6;
    --secondary-color: #a78bfa;

    --placeholder-color: #27272a;
    --background-color: #09090b;
    --card-background: #18181b;

    --border-color: #18181b;
    --card-hover-border: linear-gradient(135deg, var(--primary-color), var(--secondary-color));

    --text-primary: #fafafa;
    --text-secondary: #a1a1aa;

    --border-radius-lg: 8px;

    --shadow-complex-small:
      0 4px 6px -1px rgba(0, 0, 0, 0.5),
      0 2px 4px -2px rgba(0, 0, 0, 0.5);
    
    --shadow-complex-regular: 
      0 0 15px -3px rgba(59, 130, 246, 0.6),
      0 0 30px -10px rgba(167, 139, 250, 0.4),
      0 20px 25px -5px rgba(0, 0, 0, 0.6);

    --transition: all 0.3s ease;
  }
} */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  height: 100%;
  isolation: isolate;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-primary);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  list-style: none;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: transparent;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--border-radius-lg);
}

a {
  display: inline-block;
  color: inherit;
  /* text-decoration: none; */
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
  height: auto;
}

*:focus-visible {
  outline: 1px solid var(--text-primary);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}
