@font-face {
  font-family: "Montserrat";
  src: url('/montserrat-variable.woff2') format('woff2') tech('variations'),
    url('/montserrat-variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --primary-color: #2563eb;
  --secondary-color: #7c3aed;
  --placeholder-color: #e0e0e0;
  --background-color: #f8fafc;
  --card-background: #ffffff;
  --border-color: #e5e8ed;

  --text-primary: #1e293b;
  --text-secondary: #64748b;

  --border-radius-lg: 8px;

  --shadow-complex-small: 0 80px 80px -20px rgb(154 156 165 / 8%), 0 30px 24px -10px rgb(154 156 165 / 5%),
    0 12px 10px -6px rgb(154 156 165 / 4%), 0 4px 4px -4px rgb(30 33 44 / 3%);
  --shadow-complex-regular: 0 80px 80px -20px rgb(154 156 165 / 16%), 0 30px 24px -10px rgb(154 156 165 / 10%),
    0 12px 10px -6px rgb(154 156 165 / 8%), 0 4px 4px -4px rgb(30 33 44 / 5%);

  --transition: all 0.3s ease;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #3b82f6;
    --secondary-color: #a78bfa;
    --placeholder-color: #27272a;
    --background-color: #09090b;
    --card-background: #18181b;
    --border-color: #18181b;

    --text-primary: #fafafa;
    --text-secondary: #a1a1aa;

    --border-radius-lg: 8px;

    --shadow-complex-small:
      0 4px 6px -1px rgba(0, 0, 0, 0.5),
      0 2px 4px -2px rgba(0, 0, 0, 0.5);
    --shadow-complex-regular:
      0 20px 25px -5px rgba(0, 0, 0, 0.6),
      0 8px 10px -6px rgba(0, 0, 0, 0.6);

    --transition: all 0.3s ease;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
  color: var(--text-primary);
  font-weight: 400;
  line-height: 1.6;
}
