.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  gap: 20px;
}

.header__title {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
}
