.movie-list__status {
  text-align: center;
  padding: 50px;
}

.movie-list {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

.movie-list__row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  gap: 20px;
  padding: 10px 20px;
}

.movie-list__loader {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
