.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-list__empty {
  text-align: center;
  width: 100%;
  grid-column: 1 / -1;
  padding: 20px 0;
}
